#! /bin/bash -l
#SBATCH -q regular
#SBATCH -N 5 -c 64
#SBATCH -t 1:00:00
#SBATCH -J basic_test_run
#SBATCH -L project,SCRATCH
#SBATCH -C haswell
#SBATCH --image=docker:samkohn/pyroot:2
#SBATCH --mail-user=skohn@lbl.gov
#SBATCH --mail-type=ALL
#SBATCH --array=0-10

export PATH=$PATH:/usr/common/tig/taskfarmer/1.5/bin:$(pwd)
export THREADS=256
runcommands.sh tasks_nh_thu_${SLURM_ARRAY_TASK_ID}.txt
